extends layout

block content

  section.container.h
    aside.container#easyNav.v
      img(src='/assets/pass-theSauce-logo.png')#logo
      div

      p All Content Owned by The Stranger
    main#sauce.container.v
      header#login.row.text-right

        if user
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      include ./includes/accordion.pug
