extends layout

block content

  section.container.h
    aside.container#easyNav.v
      img(src='/assets/pass-theSauce-logo.png')#logo

      header#login

        if user
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      div All content Owned and Produced by #[a(href="http://www.thestranger.com/") The Stranger]

    section.v

      div#map

    main#sauce.container.v
      include ./includes/accordion.pug

  script(src=`https://maps.googleapis.com/maps/api/js?key=${googleapikey}&libraries=places&callback=initMap` async defer)
  script(src="/javascript/accordion-map.js")
