extends layout

block content

  section.container.h
    aside.container.v
      h5 All content Owned and Produced by <br> #[a(href="http://www.thestranger.com/") The Stranger]
      img(src='/assets/pass-theSauce-logo.png')#logo

      header#login
        if user
          p Welcome #{user.displayName}
          p
            a(href='/logout') Logout
        else
          p
            a(href="/auth/facebook") Login with Facebook

    section.v

      div#map

    main#sauce.container.v
      include ./includes/accordion.pug

  script(src=`https://maps.googleapis.com/maps/api/js?key=${googleapikey}&libraries=places&callback=initMap` async defer)
  script(src="/javascript/accordion-map.js")
