extends layout

block content

  section.container.h
    aside.container#easyNav.v
      img(src='/assets/pass-theSauce-logo.png')#logo

      div
      | All content Owned and Produced by #[a(href="http://www.thestranger.com/") The Stranger]
    main#sauce.container.v
      header#login

        if user
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      include ./includes/accordion.pug
