extends layout

block content

  section.container.h
    aside.container.v#easyNav
      img(src='/assets/pass-theSauce-logo.png')#logo
      div
        include ./includes/easyNav.pug
    main#sauce.container.v
      header#login.row.text-right

        if user
          img(src=user.picUrl, alt="Facebook profile picture")
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      include ./includes/accordion.pug
      footer.row
        p All Content Owned by The Stranger
