extends layout

block content

  section.col-md-12
    aside
      img(src='/assets/pass-theSauce-logo.png')#logo.fixed
      div
        include ./includes/easyNav.pug
    main#sauce.col-md-8
      header#login.row.text-right

        if user
          img(src=user.picUrl, alt="Facebook profile picture")
          p Welcome #{user.displayName}
        else
          a(href="/auth/facebook") Login with Facebook

      section.row
        section
          include ./includes/accordion.pug
      footer.row
        p All Content Owned by The Stranger
