doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascript/jquery-ui-1.11.4.custom/jquery-ui.css')
    script(src='/javascript/jquery-1.12.3.min.js')
    script(src='/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js')

  body.container-fluid
    block content
