* {
  box-sizing: border-box;
}

.container {
  display: flex;
}

.h {
  flex-direction: row;
}

.v {
  flex-direction: column;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

#logo{
  display: block;
  width: 150px;
  margin: 0 auto;
}


.places {
  height: 500px;
  overflow: hidden !important;
}

.place {
  margin: 0 0 15px 0;
}


:not(#sauce)::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
:not(#sauce)::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sauce {
  height: 100vh;
  width: 40vw;
  overflow: scroll;
  padding: 0 0px 0 50px;
}


#reviewsLink {
  position: relative;
  display: inline-block;

}

div#map {
  height: 450px;
  width: 450px;
  border: 1px solid black;
  display: inline-block;;
  margin-right: 5%;
}

div.placeOverflow {
  position:inline-block;
  /*width: 50%;*/
  /*padding-right: 20%;*/
  /*bottom: 460px;*/
  max-height: 500px;
  overflow: scroll;
}

#comments {
  align-items: flex-start;
}
#comments form * {
  margin: 5px 0;
}
.comment-text {
  align-items: flex-start;
  width: 300px;
}
.comment-text textarea {
  width: 300px;
  height: 100px;
}
.review {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 20em;
}
.review p {
  margin: 3px 0;
}

#login {
  margin-top: 50px;
  text-align: center;
}

.theStranger {
  text-align: center;
}
.comment {
  justify-content: flex-end;
}
